.postContainer {
  border: 1px solid rgb(219, 219, 219);
  padding: 0.5rem;
  margin: 1.5rem 0;
}
.postContent {
  background-color: white;
  border: 1px solid #777;
  border-radius: 0.05px;
  padding: 2rem;
  width: 10rem;
  margin: 0.5rem 0;
}

.heart {
  font-size: 1.7rem;
  cursor: pointer;
}

.actions {
  display: flex;
  align-items: center;
}

.comment {
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0 1rem;
}

.share {
  font-size: 1.7rem;
  cursor: pointer;
}
.userData {
  display: flex;
  align-items: center;
  border: 0.4px solid rgb(239, 239, 239);
  padding: 0.5rem;
}

.userInfo {
  display: flex;
  align-items: center;
}
